html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

.site-title {
  font-size: 2.8em;
}

.site-slogan {
  font-style: italic;
}

.navbar ul {
  text-align: center;
  list-style: none;
}

.navbar ul li {
  display: inline-block;
  margin: 0 1em;
}

.navbar a {
  text-decoration: none;
}

.current {
  font-weight: bold;
  text-decoration: underline;
}

h1 {
  text-align: center;
}

footer {
  clear: both;
  text-align: center;
  font-size: 13px;
  color: grey;
}

.me {
  float: right;
  max-width: 220px;
  margin: 3px;
}

.book {
  float: right;
  max-width: 400px;
  margin-bottom: 20px;
}

.calendar {
  margin: 5px auto;
  border-collapse: collapse;
}

.calendar tr,
.calendar td,
.calendar th {
  border: 1px solid black;
  text-align: center;
}

.calendar tr {
  height: 4em;
}

.calendar td {
  font-size: 1.4em;
  min-width: 4.5em;
}

.cal-img {
  width: 100%;
}

.red-day {
  color: red;
}

.calendar .shadow-day {
  font-size: 0.8em;
  background-color: lightgrey;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}
